<div class="col-md-3 img" data-photo-id="<%= photo.id %>" >
  <%= image_tag(photo.image.thumb.url, alt: "Photo") %>
  <div class = "overlay"></div>
  <div class="title"><%= link_to(photo.name, photo_path(photo), method: :get )%></div>
  
  <div class="like">
    <%= link_to("LIKE",  photo_likes_path(photo.id), method: :post, remote: true )%> 
    <span class="count-like"><%=photo.likes_count%></span>
  </div>

</div>