<% provide(:title, "Галерея") %>
<h1> Галерея фотоконкурса</h1>
<form action="/photos" method="get">
  <input name="search" placeholder="Искать здесь..." type="search">
  <button type="submit">Поиск</button>
</form>

<div class="row sort">
  <span class="">Сортировать по:</span>
  <div class="">
    <%= link_to "дате (сначала новые)", {sort: 'created_at', direction: 'desc'}, {class: "btn"} %>
    <%= link_to "дате (сначала старые)", {sort: 'created_at', direction: 'asc'}, {class: "btn"} %>
    <%= link_to "лайкам (по убыванию)", {sort: 'likes_count', direction: 'desc'}, {class: "btn"} %>
    <%= link_to "лайкам (по возрастанию)", {sort: 'likes_count', direction: 'asc'}, {class: "btn"} %>
  </div>
</div>



<div class="row gallery">  
  <%= render @photos %>  
</div>
<%= paginate @photos %>

