<% provide(:title, "Галерея") %>
<h1> Галерея фотоконкурса</h1>

<%= form_tag(photos_path, :method => "get", remote: true) do %>
    <%= text_field_tag :search, params[:search], name: "search", type: "search", placeholder: "Искать здесь..." %>
    <%= submit_tag "Поиск", :name => nil %>
<% end %>

<div class="row sort">
  <span class="">Сортировать по:</span>
  <div class="">
    <%= link_to "дате (сначала новые)", {remote: true, sort: 'created_at', direction: 'desc'}, {class: "btn"}%>
    <%= link_to "дате (сначала старые)", {remote: true, sort: 'created_at', direction: 'asc'}, {class: "btn"} %>
    <%= link_to "лайкам (по убыванию)", {remote: true, sort: 'likes_count', direction: 'desc'}, {class: "btn"} %>
    <%= link_to "лайкам (по возрастанию)", {remote: true, sort: 'likes_count', direction: 'asc'}, {class: "btn"} %>
  </div>
</div>



<div id = "gal" class="row gallery">  
  <%= render @photos %>  
</div>
<div id = "pag">
<%= paginate @photos, remote: true %>
</div>


