<% provide(:title, "Галерея") %>
<h1> Галерея фотоконкурса</h1>
<div class="row sort">
  <span class="">Сортировать по:</span>
  <div class="">
  <%= link_to("дате (сначала новые)", photos_path(sort: "created_at ASC"), class:"btn") %>
  <%= link_to("дате (сначала старые)", photos_path(sort: "created_at DESC"), class:"btn") %>
  <%= link_to("лайкам (по убыванию)", photos_path(sort: "likes_count DESC"), class:"btn") %>
  <%= link_to("лайкам (по возрастанию)", photos_path(sort: "likes_count ASC"), class:"btn") %>
  </div>
</div>

<form action="/photos" method="get">
  <input name="search" placeholder="Искать здесь..." type="search">
  <button type="submit">Поиск</button>
</form>

<div class="row gallery">  
  <%= render @photos %>  
</div>
<%= paginate @photos %>

