<% provide(:title, @photo.name) %>

<div class="row photo-title center-block">
  <div class="col-md-10">
    <h1> <%= @photo.name %> </h1>
  </div>
  <div class="col-md-2 del-photo text-right">
    <% if current_user && ( current_user.id == @photo.user_id ) %>
    <%= link_to(raw("<span class='glyphicon glyphicon-remove'></span>"), @photo, 
                      method: :delete, data: { confirm: "Вы действительно хотите удалить фото?" } )%>
    <%else%>
      <% author=User.find(@photo.user_id) %>
    <span>Автор: <%= author.name %></span>
    <%end%>

  </div>
</div>
<%= image_tag(@photo.image.full.url, alt: "Photo", class: "center-block") %>
<div class="row center-block">
  <div class="col-md-1">
    <% if current_user %>
      <% if current_user.id == @photo.user_id %>
        <%=link_to(raw('<span class="glyphicon glyphicon-heart gray"></span>'), @photo, method: :get)%>
      <% else %>
        <% like = Like.find_by(photo: @photo, user: current_user)%>
        <% if like %>
          <%=link_to(raw('<span class="glyphicon glyphicon-heart red"></span>'), photo_like_path(@photo, like), 
                                                                                                method: :delete)%>
        <% else %>
          <%=link_to(raw('<span class="glyphicon glyphicon-heart blue"></span>'), photo_likes_path(@photo), 
                                                                                                method: :create)%>
        <% end %>
      <% end %>
    <% else %>
      <%=link_to(raw('<span class="glyphicon glyphicon-heart gray"></span>'), @photo, method: :get)%>
    <% end %>
    <%= @photo.likes_count %>
  </div>
  <div class="col-md-9">
  </div>
  <div class="col-md-2">
    <%= link_to(raw("<button class='btn btn-primary pull-right'>Комментировать</button>"), 
          new_user_photo_comment_comments_path(@photo, comment_parent_type: :photo, comment_parent_id: @photo.id) )%>
  </div>

</div>
<% @comments = Comment.get_comments("Photo", @photo.id)%>

<ul id="comments-list" class="center-block"> <%= render @comments %> </ul>

  



  








